In [1]:
from multiprocessing import Lock, Process, Queue, current_process
import time
import queue # imported for using queue.Empty exception


def do_job(tasks_to_accomplish, tasks_that_are_done):
    while True:
        try:
            '''
                try to get task from the queue. get_nowait() function will 
                raise queue.Empty exception if the queue is empty. 
                queue(False) function would do the same task also.
            '''
            task = tasks_to_accomplish.get_nowait()
        except queue.Empty:

            break
        else:
            '''
                if no exception has been raised, add the task completion 
                message to task_that_are_done queue
            '''
            print(task)
            tasks_that_are_done.put(task + ' is done by ' + current_process().name)
            time.sleep(.5)
    return True


def main():
    number_of_task = 10
    number_of_processes = 4
    tasks_to_accomplish = Queue()
    tasks_that_are_done = Queue()
    processes = []

    for i in range(number_of_task):
        tasks_to_accomplish.put("Task no " + str(i))

    # creating processes
    for w in range(number_of_processes):
        p = Process(target=do_job, args=(tasks_to_accomplish, tasks_that_are_done))
        processes.append(p)
        p.start()

    # completing process
    for p in processes:
        p.join()

    # print the output
    while not tasks_that_are_done.empty():
        print(tasks_that_are_done.get())

    return True


if __name__ == '__main__':
    main()

# data_wrangling

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

# data_transformation

In [3]:
data = pd.read_csv(r"E:\NYC_Taxi_Trips\taxi_trips\2017_taxi_trips.csv" )

In [121]:
data.head(10)

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,pickup_Date,pickup_Time,dropoff_Date,dropoff_Time,trip_time,trip_time_all
0,1,2017-01-01 09:00:01,2017-01-01 09:03:56,N,1,74,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-01,09:00:01,2017-01-01,09:03:56,0,0 days 00:03:55
1,1,2017-01-01 18:57:55,2017-01-01 19:01:16,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-01,18:57:55,2017-01-01,19:01:16,0,0 days 00:03:21
2,2,2017-01-02 06:55:47,2017-01-02 06:58:54,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-02,06:55:47,2017-01-02,06:58:54,0,0 days 00:03:07
3,2,2017-01-02 14:34:17,2017-01-02 14:39:29,N,1,74,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-02,14:34:17,2017-01-02,14:39:29,0,0 days 00:05:12
4,1,2017-01-03 06:12:30,2017-01-03 06:15:56,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-03,06:12:30,2017-01-03,06:15:56,0,0 days 00:03:26
5,2,2017-01-03 10:52:24,2017-01-03 10:56:35,N,1,41,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-03,10:52:24,2017-01-03,10:56:35,0,0 days 00:04:11
6,2,2017-01-03 10:56:13,2017-01-03 11:00:24,N,1,75,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-03,10:56:13,2017-01-03,11:00:24,0,0 days 00:04:11
7,1,2017-01-05 12:32:51,2017-01-05 12:37:11,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-05,12:32:51,2017-01-05,12:37:11,0,0 days 00:04:20
8,1,2017-01-05 14:23:16,2017-01-05 14:27:18,N,1,152,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-05,14:23:16,2017-01-05,14:27:18,0,0 days 00:04:02
9,2,2017-01-06 07:39:25,2017-01-06 07:44:19,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-01-06,07:39:25,2017-01-06,07:44:19,0,0 days 00:04:54

In [119]:
data.loc[data['trip_time'] < 0]

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,pickup_Date,pickup_Time,dropoff_Date,dropoff_Time,trip_time
7015727,1,2017-10-13 16:31:11,2017-10-13 13:41:59,Y,99,264,264,0,0.00,9.35,0.00,0.00,0.00,0.00,0.00,9.35,1,NaN,2017-10-13,16:31:11,2017-10-13,13:41:59,-1
9492732,1,2017-12-10 15:15:00,2017-12-08 23:18:55,N,1,82,260,1,1.20,6.00,0.00,0.50,2.00,0.00,0.30,8.80,1,1.00,2017-12-10,15:15:00,2017-12-08,23:18:55,-2
10946235,1,2017-11-05 01:48:23,2017-11-05 01:06:40,N,1,112,198,1,3.60,14.50,0.50,0.50,0.00,0.00,0.30,15.80,3,1.00,2017-11-05,01:48:23,2017-11-05,01:06:40,-1
10947353,1,2017-11-05 01:55:29,2017-11-05 01:15:26,N,1,255,232,1,4.40,18.00,0.50,0.50,0.00,0.00,0.30,19.30,1,1.00,2017-11-05,01:55:29,2017-11-05,01:15:26,-1
10947355,1,2017-11-05 01:56:58,2017-11-05 01:07:16,N,1,145,83,1,3.20,12.00,0.50,0.50,0.00,0.00,0.30,13.30,1,1.00,2017-11-05,01:56:58,2017-11-05,01:07:16,-1
10971621,1,2017-11-05 01:53:12,2017-11-05 01:24:42,N,1,255,124,1,11.00,34.00,0.50,0.50,0.00,0.00,0.30,35.30,2,1.00,2017-11-05,01:53:12,2017-11-05,01:24:42,-1
10972524,1,2017-11-05 01:49:48,2017-11-05 01:17:03,N,1,255,50,1,9.90,30.50,0.50,0.50,0.00,0.00,0.30,31.80,2,1.00,2017-11-05,01:49:48,2017-11-05,01:17:03,-1
10983584,1,2017-11-05 01:45:32,2017-11-05 01:06:40,N,1,188,77,1,5.00,18.00,0.50,0.50,0.00,0.00,0.30,19.30,2,1.00,2017-11-05,01:45:32,2017-11-05,01:06:40,-1
10995168,1,2017-11-05 01:42:54,2017-11-05 01:00:18,N,1,25,225,1,3.60,14.50,0.50,0.50,0.00,0.00,0.30,15.80,2,1.00,2017-11-05,01:42:54,2017-11-05,01:00:18,-1
11000518,1,2017-11-05 01:49:04,2017-11-05 01:03:24,N,1,181,89,1,3.10,13.00,0.50,0.50,0.00,0.00,0.30,14.30,2,1.00,2017-11-05,01:49:04,2017-11-05,01:03:24,-1
11000521,1,2017-11-05 01:55:45,2017-11-05 01:11:24,N,1,255,36,1,3.00,13.00,0.50,0.50,0.00,0.00,0.30,14.30,2,1.00,2017-11-05,01:55:45,2017-11-05,01:11:24,-1
11002770,1,2017-11-05 01:48:48,2017-11-05 01:03:35,N,1,256,189,1,3.20,12.50,0.50,0.50,0.00,0.00,0.30,13.80,2,1.00,2017-11-05,01:48:48,2017-11-05,01:03:35,-1
11002772,1,2017-11-05 01:50:12,2017-11-05 01:04:48,N,1,255,198,1,2.70,12.50,0.50,0.50,0.00,0.00,0.30,13.80,2,1.00,2017-11-05,01:50:12,2017-11-05,01:04:48,-1
11010366,1,2017-11-05 01:57:04,2017-11-05 01:08:02,N,1,188,61,1,3.10,11.50,0.50,0.50,0.00,0.00,0.30,12.80,2,1.00,2017-11-05,01:57:04,2017-11-05,01:08:02,-1
11013196,1,2017-11-05 01:57:28,2017-11-05 01:11:35,N,1,255,256,1,2.10,11.00,0.50,0.50,0.00,0.00,0.30,12.30,2,1.00,2017-11-05,01:57:28,2017-11-05,01:11:35,-1
11013199,1,2017-11-05 01:57:08,2017-11-05 01:08:54,N,1,256,49,1,2.90,11.00,0.50,0.50,0.00,0.00,0.30,12.30,2,1.00,2017-11-05,01:57:08,2017-11-05,01:08:54,-1
11013463,1,2017-11-05 01:59:14,2017-11-05 01:11:04,N,1,97,225,1,2.50,11.00,0.50,0.50,0.00,0.00,0.30,12.30,2,1.00,2017-11-05,01:59:14,2017-11-05,01:11:04,-1
11036383,1,2017-11-05 01:53:32,2017-11-05 01:04:09,N,1,82,7,1,1.90,9.00,0.50,0.50,0.00,0.00,0.30,10.30,2,1.00,2017-11-05,01:53:32,2017-11-05,01:04:09,-1
11047736,1,2017-11-05 01:58:29,2017-11-05 01:01:35,N,1,42,42,1,0.50,4.50,0.50,0.50,0.00,0.00,0.30,5.80,2,1.00,2017-11-05,01:58:29,2017-11-05,01:01:35,-1
11062467,1,2017-11-05 01:54:01,2017-11-05 01:02:33,N,1,49,225,1,1.70,7.50,0.50,0.50,0.00,0.00,0.30,8.80,2,1.00,2017-11-05,01:54:01,2017-11-05,01:02:33,-1
11062468,1,2017-11-05 01:58:39,2017-11-05 01:04:58,N,1,106,228,1,1.70,7.50,0.50,0.50,0.00,0.00,0.30,8.80,2,1.00,2017-11-05,01:58:39,2017-11-05,01:04:58,-1
11091820,1,2017-11-05 01:56:45,2017-11-05 01:02:31,N,1,74,74,1,1.00,6.00,0.50,0.50,0.00,0.00,0.30,7.30,2,1.00,2017-11-05,01:56:45,2017-11-05,01:02:31,-1
11249461,1,2017-11-05 01:52:20,2017-11-05 01:10:17,N,1,127,42,2,4.70,17.50,0.50,0.50,0.00,0.00,0.30,18.80,2,1.00,2017-11-05,01:52:20,2017-11-05,01:10:17,-1
11251664,1,2017-11-05 01:43:01,2017-11-05 01:02:44,N,1,74,74,2,3.40,16.00,0.50,0.50,0.00,0.00,0.30,17.30,2,1.00,2017-11-05,01:43:01,2017-11-05,01:02:44,-1
11255232,1,2017-11-05 01:53:44,2017-11-05 01:04:37,N,1,61,72,2,2.10,9.50,0.50,0.50,0.00,0.00,0.30,10.80,2,1.00,2017-11-05,01:53:44,2017-11-05,01:04:37,-1
11259929,1,2017-11-05 01:55:02,2017-11-05 01:02:51,N,1,255,256,2,0.90,6.50,0.50,0.50,0.00,0.00,0.30,7.80,2,1.00,2017-11-05,01:55:02,2017-11-05,01:02:51,-1
11336943,1,2017-11-05 01:55:27,2017-11-05 01:33:03,N,1,61,24,2,13.30,41.00,0.50,0.50,5.00,0.00,0.30,47.30,1,1.00,2017-11-05,01:55:27,2017-11-05,01:33:03,-1
11337706,1,2017-11-05 01:46:25,2017-11-05 01:02:33,N,1,112,17,2,3.10,13.00,0.50,0.50,2.85,0.00,0.30,17.15,1,1.00,2017-11-05,01:46:25,2017-11-05,01:02:33,-1
11337707,1,2017-11-05 01:50:05,2017-11-05 01:07:00,N,1,112,37,2,2.80,13.00,0.50,0.50,2.85,0.00,0.30,17.15,1,1.00,2017-11-05,01:50:05,2017-11-05,01:07:00,-1
11337832,1,2017-11-05 01:49:41,2017-11-05 01:05:17,N,1,33,79,2,3.70,15.00,0.50,0.50,3.25,0.00,0.30,19.55,1,1.00,2017-11-05,01:49:41,2017-11-05,01:05:17,-1
11338221,1,2017-11-05 01:58:10,2017-11-05 01:36:07,N,1,256,166,2,12.50,40.00,0.50,0.50,7.50,0.00,0.30,48.80,1,1.00,2017-11-05,01:58:10,2017-11-05,01:36:07,-1
11434682,1,2017-11-05 01:34:52,2017-11-05 01:02:58,N,1,106,7,1,13.10,38.00,0.50,0.50,7.85,0.00,0.30,47.15,1,1.00,2017-11-05,01:34:52,2017-11-05,01:02:58,-1
11434691,1,2017-11-05 01:52:59,2017-11-05 01:35:34,N,1,36,170,1,8.20,32.00,0.50,0.50,4.00,0.00,0.30,37.30,1,1.00,2017-11-05,01:52:59,2017-11-05,01:35:34,-1
11434693,1,2017-11-05 01:31:03,2017-11-05 01:09:35,N,1,42,65,1,11.30,37.00,0.50,0.50,7.65,0.00,0.30,45.95,1,1.00,2017-11-05,01:31:03,2017-11-05,01:09:35,-1
11435237,1,2017-11-05 01:48:43,2017-11-05 01:04:17,N,1,80,133,1,8.60,24.50,0.50,0.50,5.15,0.00,0.30,30.95,1,1.00,2017-11-05,01:48:43,2017-11-05,01:04:17,-1
11435490,1,2017-11-05 01:51:03,2017-11-05 01:07:41,N,1,112,13,1,7.40,23.00,0.50,0.50,4.85,0.00,0.30,29.15,1,1.00,2017-11-05,01:51:03,2017-11-05,01:07:41,-1
11436190,1,2017-11-05 01:48:41,2017-11-05 01:14:54,N,1,36,181,1,5.10,20.50,0.50,0.50,3.20,0.00,0.30,25.00,1,1.00,2017-11-05,01:48:41,2017-11-05,01:14:54,-1
11437948,1,2017-11-05 01:51:26,2017-11-05 01:06:12,N,1,256,33,1,4.50,15.50,0.50,0.50,3.35,0.00,0.30,20.15,1,1.00,2017-11-05,01:51:26,2017-11-05,01:06:12,-1
11438212,1,2017-11-05 01:23:31,2017-11-05 01:07:51,N,1,181,130,1,13.00,41.50,0.50,0.50,8.55,0.00,0.30,51.35,1,1.00,2017-11-05,01:23:31,2017-11-05,01:07:51,-1
11440093,1,2017-11-05 01:51:39,2017-11-05 01:06:18,N,1,256,189,1,3.50,13.50,0.50,0.50,2.95,0.00,0.30,17.75,1,1.00,2017-11-05,01:51:39,2017-11-05,01:06:18,-1
11440481,1,2017-11-05 01:57:37,2017-11-05 01:14:13,N,1,74,151,1,2.50,12.50,0.50,0.50,2.75,0.00,0.30,16.55,1,1.00,2017-11-05,01:57:37,2017-11-05,01:14:13,-1
11443971,1,2017-11-05 01:46:02,2017-11-05 01:06:05,N,1,198,255,1,2.90,10.00,0.50,0.50,5.00,0.00,0.30,16.30,1,1.00,2017-11-05,01:46:02,2017-11-05,01:06:05,-1
11447537,1,2017-11-05 01:55:47,2017-11-05 01:03:03,N,1,223,7,1,1.60,7.50,0.50,0.50,1.75,0.00,0.30,10.55,1,1.00,2017-11-05,01:55:47,2017-11-05,01:03:03,-1
11447836,1,2017-11-05 01:58:03,2017-11-05 01:03:33,N,1,260,83,1,0.80,5.50,0.50,0.50,1.35,0.00,0.30,8.15,1,1.00,2017-11-05,01:58:03,2017-11-05,01:03:33,-1
11449728,1,2017-11-05 01:57:31,2017-11-05 01:04:39,N,1,82,173,1,1.10,6.50,0.50,0.50,2.30,0.00,0.30,10.10,1,1.00,2017-11-05,01:57:31,2017-11-05,01:04:39,-1
11547035,1,2017-11-05 01:25:58,2017-11-05 01:01:26,N,1,255,186,1,5.70,25.00,0.50,0.50,5.25,0.00,0.30,31.55,1,1.00,2017-11-05,01:25:58,2017-11-05,01:01:26,-1
11547040,1,2017-11-05 01:50:29,2017-11-05 01:09:52,N,1,255,198,1,3.40,14.50,0.50,0.50,3.15,0.00,0.30,18.95,1,1.00,2017-11-05,01:50:29,2017-11-05,01:09:52,-1
11547042,1,2017-11-05 01:57:17,2017-11-05 01:15:51,N,1,255,97,1,4.40,17.00,0.50,0.50,3.65,0.00,0.30,21.95,1,1.00,2017-11-05,01:57:17,2017-11-05,01:15:51,-1
11547051,1,2017-11-05 01:54:02,2017-11-05 01:22:38,N,1,255,170,1,6.10,24.00,0.50,0.50,5.05,0.00,0.30,30.35,1,1.00,2017-11-05,01:54:02,2017-11-05,01:22:38,-1
11547053,1,2017-11-05 01:37:20,2017-11-05 01:26:21,N,1,255,230,1,6.60,32.50,0.50,0.50,4.00,0.00,0.30,37.80,1,1.00,2017-11-05,01:37:20,2017-11-05,01:26:21,-1
11738262,1,2017-11-05 01:47:02,2017-11-05 01:13:04,N,1,41,220,2,7.60,26.00,0.50,0.50,8.95,2.64,0.30,38.89,1,1.00,2017-11-05,01:47:02,2017-11-05,01:13:04,-1

In [118]:
data["trip_time"]=(data["dropoff_datetime"]-data["pickup_datetime"]).dt.days

In [120]:
data["trip_time_all"]=(data["dropoff_datetime"]-data["pickup_datetime"])

In [85]:
data['pickup_Date'] = pd.to_datetime(data['pickup_datetime']).dt.date
data['pickup_Time'] = pd.to_datetime(data['pickup_datetime']).dt.time

In [87]:
data['dropoff_Date'] = pd.to_datetime(data['dropoff_datetime']).dt.date
data['dropoff_Time'] = pd.to_datetime(data['dropoff_datetime']).dt.time

In [125]:
data["trip_time_all"].describe()

count                     11740571
mean     0 days 00:20:22.606601757
std      0 days 01:40:56.220456233
min                0 days 00:00:00
25%                0 days 00:05:58
50%                0 days 00:09:58
75%                0 days 00:16:31
max                0 days 23:59:59
Name: trip_time_all, dtype: object

In [124]:
data.drop(data.loc[data['trip_time']!=0].index, inplace=True)
# here i dropped the rows which contains "trip time " lower or bigger than 1 day as it does not make a sense

In [81]:
data.nlargest(5, "tip_amount")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
7535501,1,2017-09-11 16:27:18,2017-09-11 17:20:32,N,1,75,121,1,12.00,41.00,1.00,0.50,449.56,5.76,0.30,498.12,1,1.00
10507181,2,2017-08-26 00:48:47,2017-08-26 01:07:17,N,1,255,211,1,5.21,18.50,0.50,0.50,446.79,0.00,0.30,466.59,1,1.00
5175790,2,2017-05-26 09:24:17,2017-05-26 09:26:38,N,1,33,33,1,0.00,2.50,0.00,0.50,408.00,0.00,0.30,411.30,1,1.00
3036247,2,2017-04-10 15:08:54,2017-04-10 15:27:57,N,1,95,129,1,2.89,13.50,0.00,0.50,400.00,0.00,0.30,414.30,1,1.00
4912237,2,2017-05-17 18:48:19,2017-05-17 18:56:38,N,1,66,66,1,0.01,6.00,1.00,0.50,400.00,0.00,0.30,407.80,1,1.00

In [80]:
data.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
count,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740623.00,11740596.00
mean,1.80,1.08,111.90,129.06,1.36,2.68,11.80,0.35,0.49,1.15,0.10,0.29,14.24,1.51,1.02
std,0.40,0.56,75.88,77.23,1.04,2.83,9.88,0.39,0.08,2.17,2.66,0.05,11.51,0.52,0.13
min,1.00,1.00,1.00,1.00,0.00,0.00,-480.00,-4.50,-0.50,-101.00,-80.00,-0.30,-480.00,1.00,1.00
25%,2.00,1.00,49.00,61.00,1.00,1.00,6.00,0.00,0.50,0.00,0.00,0.30,7.80,1.00,1.00
50%,2.00,1.00,82.00,129.00,1.00,1.75,9.00,0.50,0.50,0.00,0.00,0.30,11.15,1.00,1.00
75%,2.00,1.00,166.00,193.00,1.00,3.30,14.50,0.50,0.50,1.95,0.00,0.30,16.94,2.00,1.00
max,2.00,99.00,265.00,265.00,9.00,640.00,6003.50,30.00,0.83,449.56,7999.92,0.30,8999.91,5.00,2.00

In [73]:
data.loc[data['fare_amount'] ==  6003.50]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
8777562,1,2017-11-18 15:50:54.000,2017-11-18 15:53:15.000,N,1,82,82,1,0.30,6003.50,0.00,0.50,0.00,0.00,0.30,6004.30,2,1.00

In [126]:
data["trip_time"].value_counts()

0    11740571
Name: trip_time, dtype: int64

In [6]:
data["trip_type"].value_counts()

1.00    11524542
2.00      216098
Name: trip_type, dtype: int64

In [7]:
data["VendorID"].value_counts()

2    9447302
1    2293365
Name: VendorID, dtype: int64

In [8]:
len(data)

11740667

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11740623 entries, 0 to 11740666
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   datetime64[ns]
 2   lpep_dropoff_datetime  datetime64[ns]
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 1.7+ GB

In [76]:
data[["lpep_pickup_datetime", "lpep_dropoff_datetime"]] = data[["lpep_pickup_datetime", "lpep_dropoff_datetime"]].apply(pd.to_datetime)

In [113]:
data.columns

Index(['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID',
       'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'payment_type', 'trip_type', 'pickup_Date', 'pickup_Time', 'dropoff_Date', 'dropoff_Time',
       'trip_time'],
      dtype='object')

In [83]:
data.rename(columns = {"lpep_pickup_datetime": "pickup_datetime", "lpep_dropoff_datetime": "dropoff_datetime"},inplace=True)

In [69]:
data.isnull().sum()

VendorID                  0
lpep_pickup_datetime      0
lpep_dropoff_datetime     0
store_and_fwd_flag        0
RatecodeID                0
PULocationID              0
DOLocationID              0
passenger_count           0
trip_distance             0
fare_amount               0
extra                     0
mta_tax                   0
tip_amount                0
tolls_amount              0
improvement_surcharge     0
total_amount              0
payment_type              0
trip_type                27
dtype: int64

In [66]:
data.count(0)

VendorID                 11740623
lpep_pickup_datetime     11740623
lpep_dropoff_datetime    11740623
store_and_fwd_flag       11740623
RatecodeID               11740623
PULocationID             11740623
DOLocationID             11740623
passenger_count          11740623
trip_distance            11740623
fare_amount              11740623
extra                    11740623
mta_tax                  11740623
tip_amount               11740623
tolls_amount             11740623
improvement_surcharge    11740623
total_amount             11740623
payment_type             11740623
trip_type                11740596
dtype: int64

In [12]:
data.size

211332006

In [13]:
data.shape

(11740667, 18)

In [14]:
data[data.duplicated()].count()

VendorID                 44
lpep_pickup_datetime     44
lpep_dropoff_datetime    44
store_and_fwd_flag       44
RatecodeID               44
PULocationID             44
DOLocationID             44
passenger_count          44
trip_distance            44
fare_amount              44
extra                    44
mta_tax                  44
tip_amount               44
tolls_amount             44
improvement_surcharge    44
total_amount             44
payment_type             44
trip_type                44
dtype: int64

In [15]:
data[data.duplicated()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
1229795,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229796,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229797,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229798,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229799,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229800,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229801,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229802,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229803,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229804,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229805,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229806,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229807,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229808,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229809,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229810,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229811,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229812,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229813,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
1229814,2,2017-06-29 17:01:37.000,2017-06-29 17:02:59.000,N,1,264,264,1,0.00,1.10,0.00,0.50,0.00,0.00,0.30,1.90,2,1.00
2291002,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291003,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291004,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291005,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291006,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291007,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291008,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291009,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291010,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291011,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291012,2,2017-04-17 09:46:06.000,2017-04-17 09:48:54.000,N,1,264,264,1,0.00,2.20,0.00,0.50,0.00,0.00,0.30,3.00,2,1.00
2291013,2,2017-04-17 09:51:04.000,2017-04-17 09:52:57.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291015,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291016,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291017,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291018,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291019,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291020,2,2017-04-17 10:28:01.000,2017-04-17 10:37:45.000,N,1,264,264,1,0.00,2.90,0.00,0.50,0.00,0.00,0.30,3.70,2,1.00
2291022,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291023,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291024,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291025,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291026,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00
2291027,2,2017-04-17 11:45:01.000,2017-04-17 11:46:17.000,N,1,264,264,1,0.00,2.10,0.00,0.50,0.00,0.00,0.30,2.90,2,1.00

In [16]:
data.drop_duplicates(inplace=True)

In [17]:
data.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
0,1,2017-01-01 09:00:01.000,2017-01-01 09:03:56.000,N,1,74,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
1,1,2017-01-01 18:57:55.000,2017-01-01 19:01:16.000,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
2,2,2017-01-02 06:55:47.000,2017-01-02 06:58:54.000,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
3,2,2017-01-02 14:34:17.000,2017-01-02 14:39:29.000,N,1,74,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
4,1,2017-01-03 06:12:30.000,2017-01-03 06:15:56.000,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
5,2,2017-01-03 10:52:24.000,2017-01-03 10:56:35.000,N,1,41,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
6,2,2017-01-03 10:56:13.000,2017-01-03 11:00:24.000,N,1,75,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
7,1,2017-01-05 12:32:51.000,2017-01-05 12:37:11.000,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
8,1,2017-01-05 14:23:16.000,2017-01-05 14:27:18.000,N,1,152,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00
9,2,2017-01-06 07:39:25.000,2017-01-06 07:44:19.000,N,1,42,41,1,0.70,5.00,0.00,0.50,0.00,0.00,0.30,5.80,2,1.00

In [18]:
data[data["store_and_fwd_flag"].isin(["Y"])]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
201016,1,2017-01-01 12:52:07.000,2017-01-01 13:00:06.000,Y,1,42,41,1,1.40,8.00,0.00,0.50,0.00,0.00,0.30,8.80,2,1.00
201017,1,2017-01-01 12:13:10.000,2017-01-01 12:25:52.000,Y,1,65,79,1,3.10,12.50,0.00,0.50,0.00,0.00,0.30,13.30,2,1.00
201018,1,2017-01-01 13:50:16.000,2017-01-01 13:56:07.000,Y,1,210,150,1,1.60,7.00,0.00,0.50,0.00,0.00,0.30,7.80,2,1.00
201019,1,2017-01-01 13:16:33.000,2017-01-01 13:31:29.000,Y,1,17,256,1,3.40,13.00,0.00,0.50,0.00,0.00,0.30,13.80,2,1.00
201020,1,2017-01-01 13:41:43.000,2017-01-01 13:46:31.000,Y,1,75,236,1,1.20,6.00,0.00,0.50,0.00,0.00,0.30,6.80,2,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735902,1,2017-11-03 11:44:08.000,2017-11-03 12:14:33.000,Y,1,145,161,1,3.20,20.00,0.00,0.50,5.30,5.76,0.30,31.86,1,1.00
11736144,1,2017-10-28 11:43:22.000,2017-10-28 12:02:34.000,Y,1,145,107,1,3.00,13.50,0.00,0.50,2.00,5.76,0.30,22.06,1,1.00
11737013,1,2017-11-06 07:01:09.000,2017-11-06 07:23:16.000,Y,1,41,138,1,6.90,24.00,0.00,0.50,4.00,5.76,0.30,34.56,1,1.00
11739585,1,2017-11-02 18:03:57.000,2017-11-02 18:24:17.000,Y,1,166,200,1,7.50,23.00,1.00,0.50,0.00,2.64,0.30,27.44,2,1.00
11739861,1,2017-11-10 13:33:36.000,2017-11-10 14:03:02.000,Y,1,210,201,1,7.20,24.50,0.00,0.50,0.00,2.16,0.30,27.46,2,1.00

In [19]:
data["store_and_fwd_flag"].value_counts(normalize = True)*100

N   99.85
Y    0.15
Name: store_and_fwd_flag, dtype: float64

In [20]:
passenger_in_trip = data["passenger_count"].value_counts(normalize = True)

In [21]:
passenger_in_trip*100

1   84.22
2    8.00
5    3.55
3    1.88
6    1.73
4    0.61
0    0.02
8    0.00
7    0.00
9    0.00
Name: passenger_count, dtype: float64

In [22]:
data["payment_type"].value_counts(normalize = True)*100

1   50.38
2   48.90
3    0.46
4    0.26
5    0.00
Name: payment_type, dtype: float64

In [23]:
data["total_amount"].describe()

count   11740623.00
mean          14.24
std           11.51
min         -480.00
25%            7.80
50%           11.15
75%           16.94
max         8999.91
Name: total_amount, dtype: float64

In [35]:
total_amount_less_than_zero = data[data["total_amount"]<0]

In [25]:
data[data["total_amount"]<0]["payment_type"].value_counts()

3    18114
4     7971
2      548
1        6
Name: payment_type, dtype: int64

In [33]:
passenger_count = data[["passenger_count"]].value_counts()

In [57]:
total_amount_less_than_zero.to_csv("E:/total_amount_less_than_zero.csv")

In [112]:
data.drop("actual_conducting_time",axis=1,inplace=True)